body {
  /* background-image: url('https://i.pinimg.com/originals/5d/af/cc/5dafccb56e273eddc7b30e68b7060d7c.jpg'); */
  background-image: url('bg.png');
  background-size: 180vw 100vh;
  height: 100vh;
  width: 100vw;
  margin: 0;
}
.gel {
  width: 100%;
  height: inherit;
  float: none;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
}

.gel.menu-bg {
  width: 150%;
  height: 150%;
}

#menu-button {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 10;
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
}

body p {
  font-family: 'Titillium Web', sans-serif;
}

#menu-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#menu {
  width: 90vw;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
}

#menu li {
  list-style-type: none;
}
li.menu-category {
  margin: 0px;
  width: 25%;
  text-align: right;
  display: inline-block;
}

li.menu-category:nth-child(even) {
  text-align: left;
}
li.menu-project {
  position: relative;
  background: none;
  height: 250px;
  cursor: pointer;
  margin: -10px -10px;
  padding: 10px 20px 5px 20px;
  display: inline-block;
}
li.menu-project:hover {
  color: rgb(225, 0, 67);
}
li.menu-project p {
  font-size: 0.8em;
  margin: 0 10px 0 10px;
}
li.menu-project p.materials,  li.menu-project p.description{
  margin-top: 20px;
}
li.menu-project p.tagline {
  font-size: 1.5em;
  line-height: 1em;
}
li.menu-project p.title {
  margin-bottom: 20px;
  padding-top: 10px;
  font-size: 1.5em;
  line-height: .75em;
  font-weight: bold;
  font-variant-caps: all-small-caps;
}

@keyframes bounce {
  from { transform: translate(0, 0);     }
  to   { transform: translate(0, -20px); }
}

.scroll-pointer {
  position: fixed;
  bottom : 20px;
  right: 20px;
  font-size: 5em;
  color: white;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  z-index: 10;
}

#projects {
  /* z-index: 5; */
}

.project {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  opacity: 0;
}

.show {
  opacity: 1;
  -webkit-transition: opacity 5s; /* Safari */
  transition: opacity 5s;
}
.hide {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 3s; /* Safari */
  transition: opacity 3s;
}

iframe {
  width: 100vw;
  height: 100vh;
  position: relative;
}

iframe.vimeo {
  min-width: 170vw;
  min-height: 100vh;
  margin-left: -35vw;
}

.project img {
  min-width: 100vw;
  height: 100vh;
}
